@model IEnumerable<SimpleBlog.Models.Comment>



@foreach (var item in Model)
{
    <hr />
    <h4>
        @Html.DisplayFor(modelItem => item.AuthorName)
        (
        @Html.DisplayFor(modelItem => item.Email)
        @if (item.WebsiteUrl != null) { 

            <text>\</text>
            
            @Html.DisplayFor(modelItem => item.WebsiteUrl)
        }
        )
        <br />
        Said On

        @Html.DisplayFor(modelItem => item.DatePosted)
    </h4>
    <p>
        @Html.DisplayFor(modelItem => item.CommentText)
    </p>
}

