@model SimpleBlog.Models.Category

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-5 col-sm-12">
        <h1> @Html.DisplayFor(model => model.Name)</h1>
        <h3> @Html.DisplayFor(model => model.Description)</h3>
    </div>
    <div class="col-md-5 lead top-margin">
            @Html.ActionLink("Back to Categories", "Index")
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Author
        </th>
        <th>
            Title
        </th>
        <th>
            Date Posted
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Posts)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatePosted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>